.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}
.featureSvgContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.featureSvg {
  height: 200px;
  width: 200px;
}

.heading-large {
  font-size: 32px; /* Example size, adjust as needed */
  font-weight: bold;
  /* Add any other styles you want for your large heading */
}